body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5px;
    font-size: 16px;
}

.container {
    display: flex;
    text-align: center; 
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

#button {
    width: 15%;
    margin: auto;
    padding: 15px 10px;
    border-radius: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: khaki;
    color: rgba(218, 45, 151, 0.966);
    font-weight: 700;
}

#jokes {
    margin-top: 20%;
    line-height: 55px;
}
